.Progress {
    height: 5px;
    width: 100%;
    /*background-color: #2c3e50;*/
    position: relative;
}

.Progress .inner {
    position: absolute;
    background-color: white;
    height: 5px;
    transition: width 1s;
}