.Widget {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header"
        "content";
    background-color: #34495e;
    padding: 1rem;
}

.Widget h2 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1;
}

.Widget h2 .Loading {
    margin-left: 0.5rem;
}

.Widget .header {
    grid-area: header;
    line-height: 2;
}

.Widget .content {
    grid-area: content;
    padding-top: 1rem;
}

@media(max-width: 600px) {
    .Widget .content {
        padding-top: 0.25rem;
    }
}